<h1>Motoristas - Geral</h1>
<%= link_to "Ordenar por Idade", geral_idade_path, class: "btn btn-default noPrint" %>
<%= link_to "Ordenar por Tempo de Contribuição", geral_contribuicao_path, class: "btn btn-default noPrint" %>
<h3>Vila Mariana</h3>
<%= render 'layouts/lista', object: @vila_mariana %>
<h3>Vila Guilherme</h3>
<%= render 'layouts/lista', object: @vila_guilherme %>
<h3>RECORPS</h3>
<%= render 'layouts/lista', object: @recorps %>
<h3>Outras Áreas</h3>
<%= render 'layouts/lista', object: @outras_areas %>
<h3>Readaptados</h3>
<%= render 'layouts/lista', object: @readaptados %>
<h3>Licença Médica</h3>
<%= render 'layouts/lista', object: @licenca_medica %>
<h3>Processo Administrativo de Falta</h3>
<%= render 'layouts/lista', object: @falta %>
<h3>Aposentados</h3>
<%= render 'layouts/lista', object: @aposentados %>
<h3>Chapeiras Diversas</h3>
<%= render 'layouts/lista', object: @chapeiras_diversas %>

