<div class="justPrint" style="text-align: center;"><%= image_tag("LogoPrefeitura.jpg", alt: "Prefeitura de São Paulo") %></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 style="text-align: center; margin-bottom: 25px;">Log de Alterações - <%= Time.now.strftime("%d/%m/%Y") %></h1>
    </div>
  </div>
    <div class="tabela">
      <table class="table table-condenseded">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>RF</th>
            <th>Cargo</th>
            <th>Chapeira</th>
            <th>Seção Atual</th>
            <th>Pontuação</th>
            <th>Local</th>
            <th>Data de Nascimento</th>
            <th>Data de Admissão</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @registros.each do |r| %>
            <% if r.id.odd? %>
              <tr>
                <td height=100 colspan=11 class="titulo-registro" style="vertical-align: bottom;">
                  Alteração Realizada por <%= r.user %> em <%= r.created_at.strftime("%d/%m/%Y") %>
                </td>
              </tr>
            <% end %>
            <tr>
              <th><%= r.momento %></th>
              <td><%= r.nome %></td>
              <td><%= r.rf %></td>
              <td><%= r.cargo %></td>
              <td><%= r.secao_original %></td>
              <td><%= r.secao_atual %></td>
              <td><%= r.pontuacao %></td>
              <td><%= r.local %></td>
              <td><%= r.data_de_nasc %></td>
              <td><%= r.data_posse %></td>
              <td><%= r.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>