<div class="row">
  <div class="col-md-4 col-md-offset-4">
    
    <h1 style="text-align: center;">Editar Motorista</h1>
    <h2 style="text-align: center;">Serviço Social</h2>
    <h4 style="margin-top: 40px;"><%= @motorista.nome %></h4>
    <h4 style="margin-bottom: 25px;">RF: <%= @motorista.rf %></h4>
    
    <%= form_for(@motorista) do |f| %>

      <%= f.label :status, "Status", class: 'form_label' %>
      <% if @motorista.status == 'Licença Médica' %>
        <%= f.select(:status, [["Licença Médica"],["Ativo"],["Processo Administrativo de Falta"],["Aposentado"],["Readaptado"]], {:prompt => @motorista.errors.full_messages_for(:status).to_sentence}, {:class => 'form-control formulario'}) %>
      <% elsif @motorista.status == 'Readaptado' %>
        <%= f.select(:status, [["Ativo"],["Processo Administrativo de Falta"],["Aposentado"],["Licença Médica"],["Readaptado"]], {:prompt => @motorista.errors.full_messages_for(:status).to_sentence}, {:class => 'form-control formulario'}) %>
      <% else %>
        <%= f.select(:status, [@motorista.status, "Readaptado", "Licença Médica"], {:prompt => @motorista.errors.full_messages_for(:status).to_sentence}, {:class => 'form-control formulario'}) %>
      <% end %>
      
      <%= f.submit "Salvar Mudanças", class: "btn btn-primary btn-block form_submit" %>
    <% end %>
    
  </div>
</div>