<!DOCTYPE html>
  <html>
    <head>
      <title>Motoristas</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
  <body>
    
    <div class="noPrint" style="margin-bottom: 70px"><%= render 'layouts/header' %></div>
    
    <% if params[:controller] == "listas" || params[:action] == "relatorio" || params[:action] == "show"%>
      <a class="btn btn-default noPrint" style="position: absolute; right: 0px; margin-right: 10px" href="#" onclick="window.print();return false;">Imprimir Página</a>
    <% end %>
    
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
